# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.env.local
flask_session/
flask-backend/flask_session/

# Node.js-related files
node_modules/
build/

# OS or IDE-specific files
.DS_Store
Thumbs.db
.vscode/
