body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #34e89e, #0f3443);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  color: #fff;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #34e89e;
}
.hero-image {
  text-align: center;
  
}

.hero-image img {
  max-width: 80%;
  height: auto;
  border-radius: 10px; /* Optional rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}


.home-header {
  text-align: center;
  margin-top: 120px;
  padding: 50px 20px;
}

.hero-content {
  max-width: 600px;
  margin: auto;
  margin-top: 300px;
}

.cta-button {
  padding: 12px 25px;
  font-size: 18px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.about-section {
  padding: 50px 20px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature {
  flex: 1;
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: left;
}

.contact-section {
  padding: 30px 20px;
  text-align: center;
}

.contact-info a {
  color: #34e89e;
  text-decoration: none;
}

.social-link {
  margin: 0 10px;
  color: #34e89e;
  text-decoration: none;
  font-size: 16px;
}

.social-link:hover {
  text-decoration: underline;
}
